extends layout
block content
	body.home-page
		.homepage-container
			.slideshow
				#slideshow
					.slide
						h2 Realtime & Free
						.slide-image
				// #slideshow
			.login-box
				.inner-padding
					div#chat
						form(action='/login', method='POST')
							input#chat(name='username', type='text')
							input#chat(name='password', type='password')
							input(type='submit', value='Send')
			// #login-box
		// .homepage-container
		footer
			| Balloons.IO is an
			a(href='https://github.com/gravityonmars/Balloons.IO', target="_blank") Open Source project
			| developed by
			a(href='http://twitter.com/gravityonmars', target="_blank") Gravity On Mars.
		// JavaScript at the bottom for fast page loading